.searchInput{
    height: 40px;
    font-size: 1.2rem;
    color:rgb(92, 92, 92);
    border:0.5px solid rgb(194, 194, 194);
    border-radius: 5px;
    padding-left: 10px;
    margin-right:10px;
    outline:none;

}